@charset "UTF-8";
/* Reset e import fuente */
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 20px;
}

/* Variables */
/*Mixins*/
/* Navegador y header */
.nav-bar {
  background-color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  flex-wrap: wrap;
}
.nav-bar ul {
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.nav-bar ul li {
  display: flex;
  padding: 5px 0px;
}
.nav-bar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
}
.nav-bar ul li a:hover {
  font-size: 18px;
  text-shadow: 0px 10px 10px white;
}
.nav-bar ul li .bg {
  background-color: black;
  --bs-dropdown-min-width: 8rem;
  text-align: center;
}
.nav-bar .fa-bars {
  display: none;
}

.logo {
  height: 122px;
}
.logo img {
  width: 150px;
  margin: 10px;
  padding: 5px;
  object-fit: cover;
}

.carrito {
  display: flex;
  margin-right: 10px;
  font-size: 24px;
  padding: 5px;
  margin-top: 5px;
  align-items: center;
}
.carrito a, .carrito i {
  color: white;
  text-decoration: none;
  margin: 5px;
  font-size: 24px;
}

.header {
  margin-top: 122px;
}

/* Contenido principal */
.main {
  background-image: linear-gradient(rgb(109, 52, 114), rgb(45, 25, 49));
  min-height: 88vh;
  display: flex;
  flex-direction: column;
}
.main .contenido {
  margin: 0px 450px;
}
.main section {
  padding-bottom: 15px;
}

.titulo__formato {
  text-align: center;
  margin: 30px 0px;
  font-size: 34px;
  font-style: italic;
  font-family: "New Rocker", cursive;
  text-shadow: 0px 1px 5px #FFFFFF;
}

.novedades {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.novedades p {
  text-align: justify;
}
.novedades span {
  font-weight: bold;
}

.slider h2 {
  font-size: 34px;
  font-family: "New Rocker", cursive;
  text-shadow: 0px 0px 10px white;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.tarjetas .tarjeta-container {
  display: flex;
  align-items: center;
}
.tarjetas .tarjeta-container .img-resaltada:hover img {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.tarjeta {
  width: 210px;
  height: 210px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarjeta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 5px black;
  border-radius: 10px;
  transition: transform 0.5s;
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: black;
  align-items: center;
  justify-content: space-around;
}
.footer .link-page {
  justify-content: left;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  margin: 10px;
}
.footer .link-page ul {
  list-style: none;
}
.footer .link-page ul li a {
  text-decoration: none;
  color: white;
}
.footer .link-page ul li a:hover {
  text-shadow: 0px 10px 10px white;
}
.footer .auspiciadores-equipo {
  padding-top: 20px;
  margin: 10px;
}
.footer .auspiciadores-equipo h4 {
  color: white;
  text-decoration: none;
}
.footer .auspiciadores-equipo ul {
  list-style: none;
}
.footer .auspiciadores-equipo ul li, .footer .auspiciadores-equipo ul a {
  color: white;
  text-decoration: none;
}
.footer .auspiciadores-equipo ul li a:hover {
  text-shadow: 0px 10px 10px white;
}
.footer .social-media {
  padding-top: 20px;
  margin: 10px;
}
.footer .social-media h4 {
  color: white;
}
.footer .social-media a, .footer .social-media i {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.footer .social-media i:hover {
  font-size: 40px;
}
.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.212);
}
.footer .copyright p {
  color: white;
  margin-bottom: 0px;
}

/*Galeria con GRID */
.galeria {
  margin: 0px 20px;
  padding: 0px 10px;
}

.grid-galeria {
  display: grid;
  margin: 10px;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 200px);
  grid-template-areas: "img1  img2  img2  img3" "img5  img7  img7  img4" "img5  img7  img7  img8" "img6  img7  img7  img8" "img9  img9  img9  img8" "img10 img11 img11 img12";
}

.grid-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid black;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.img7 {
  grid-area: img7;
}

.img8 {
  grid-area: img8;
}

.img9 {
  grid-area: img9;
}

.img10 {
  grid-area: img10;
}

.img11 {
  grid-area: img11;
}

.img12 {
  grid-area: img12;
}

/* Tienda */
.tienda {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.producto {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.producto .tarjeta {
  flex: 0 0 calc(25% - 40px);
  height: 370px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  justify-content: space-around;
  background-color: rgb(133, 54, 133);
}
.producto .tarjeta img {
  max-width: 100%;
  height: 200px;
  border: none;
}
.producto .tarjeta img:hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: contain;
  background-color: white;
}
.producto .tarjeta h5 {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}
.producto .tarjeta p {
  padding: 0px 10px;
  margin-bottom: 0;
}

.salto_linea {
  display: none;
}

/* CSS Responsive */
@media (min-width: 1201px) and (max-width: 1800px) {
  .main .contenido {
    margin: 0px 2vw;
  }
  .novedades p {
    padding: 0px 8vw;
  }
}
@media (max-width: 1200px) {
  .main .contenido {
    margin: 0px 4vw;
  }
  .nav-bar .fa-bars {
    display: block;
    margin: 10px;
    font-size: 30px;
    color: white;
    order: -1;
  }
  .nav-bar .fa-bars:hover + ul {
    left: 0;
  }
  .nav-bar ul {
    position: fixed;
    top: 0px;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: rgb(5, 5, 5);
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    transition: 0.5s;
  }
  .nav-bar ul:hover {
    left: 0;
  }
  .nav-bar ul li a {
    color: rgba(255, 255, 255, 0.836);
  }
  .carrito {
    display: none;
  }
  .header {
    margin-top: 122px;
  }
  .tarjeta-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tarjeta {
    width: calc(50% - 40px);
    margin: 10px;
  }
  .img-resaltada:hover img {
    width: 350px;
    height: 400px;
  }
  .producto h5 {
    font-size: 16px;
  }
  .producto p {
    font-size: 14px;
  }
  .novedades {
    margin: 0px;
  }
  .novedades p {
    height: 200px;
    overflow: auto;
    margin: 0px;
    padding: 20px;
  }
  .slider p {
    display: none;
  }
  .slider h1, .slider h5 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .producto .tarjeta {
    flex: 0 0 calc(50% - 30px);
  }
  .producto p {
    display: none;
  }
  .tienda {
    margin: 20px;
  }
  .tienda .tarjetas {
    margin: 20px 0px;
  }
}
@media (max-width: 557px) {
  .ocultar-botones .ocultar {
    display: none;
  }
  .producto {
    gap: 5px;
  }
  .producto p {
    display: none;
  }
  .producto .tarjeta {
    margin: 5px;
    padding: 5px;
  }
  .tarjeta-container {
    justify-content: center;
  }
  .tienda, .galeria {
    margin: 20px 0px;
  }
  .tarjetas {
    margin: 20px 0px;
  }
  .salto_linea {
    display: block;
  }
}
@media (max-width: 915px) and (orientation: landscape) {
  .nav-bar {
    height: 90px;
  }
  .nav-bar .fa-bars {
    position: relative;
    top: -15px;
  }
  .nav-bar ul {
    padding-top: 20px;
  }
  .nav-bar ul li {
    height: 40px;
    align-items: center;
  }
  .header {
    margin-top: 90px;
  }
  .novedades p {
    height: 150px;
    overflow: auto;
  }
  .logo img {
    margin: 0px;
  }
}
/* Biografia */
.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 10px;
  padding: 0px 20px;
}
.bio .titulo__formato {
  margin-bottom: 10px;
}
.bio .bio-cont {
  margin: 0px 100px;
  padding: 0px 50px;
}
.bio .bio-cont p {
  margin: 50px;
  text-align: justify;
}
.bio .bio-cont .img-izquierda {
  float: left;
  width: 350px;
  margin-right: 10px;
  border-radius: 10px;
}
.bio .bio-cont .img-derecha {
  float: right;
  width: 450px;
  margin-left: 10px;
  border-radius: 10px;
}
@media (max-width: 557px), (max-width: 768px), (max-width: 915px) and (orientation: landscape) {
  .bio .bio-cont {
    margin: 0px 10px;
    padding: 0;
  }
  .bio .bio-cont .img-izquierda, .bio .bio-cont .img-derecha {
    float: none;
    width: 300px;
    margin: 10px;
  }
  .bio .bio-cont p {
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .bio .bio-cont {
    margin: 0px 10px;
    padding: 0;
  }
  .bio .bio-cont p {
    margin: 10px;
  }
}

/** Termino y condiciones **/
.terminos_condiciones {
  margin-bottom: 40px;
  text-align: justify;
}
.terminos_condiciones span {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

/** Pagina de Contacto **/
.contacto span {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
.contacto .formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #636060;
  border-radius: 5px;
}
.contacto .formulario .formulario__nombre,
.contacto .formulario .formulario__apellido,
.contacto .formulario .formulario__correo,
.contacto .formulario .formulario__mensaje,
.contacto .formulario .formulario__boton,
.contacto .formulario .formulario__password {
  margin-bottom: 20px;
}
.contacto .formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.contacto .formulario input,
.contacto .formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #666161;
  border-radius: 5px;
}
.contacto .formulario .formulario__boton {
  display: flex;
  justify-content: space-between;
}
.contacto .formulario .formulario__boton .boton {
  padding: 10px 20px;
  background-color: #9d44a5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contacto .formulario .formulario__boton .boton:hover {
  background-color: #590261;
}
.contacto .formulario .formulario__boton .boton:last-child {
  background-color: #cac3c3;
  color: #000;
  margin-left: 10px;
}
.contacto .formulario .formulario__boton .boton:last-child:hover {
  background-color: #999999;
}

/** Conciertos **/
.conciertos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conciertos .concierto img {
  width: 650px;
  margin-top: 30px;
  object-fit: cover;
}
.conciertos .listaconciertos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 40px;
}
.conciertos .listaconciertos .proximo-evento__siguiente {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.conciertos .listaconciertos .proximo-evento__siguiente:hover {
  background-color: rgba(80, 39, 80, 0.534);
  border-radius: 5px;
}
.conciertos .listaconciertos .boton_evento {
  text-align: right;
}
.conciertos .listaconciertos .boton_evento button {
  background-color: #9d44a5;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.conciertos .listaconciertos .boton_evento button:hover {
  background-color: #590261;
}
.conciertos .listaconciertos .fecha-evento,
.conciertos .listaconciertos .lugar-evento,
.conciertos .listaconciertos .region-evento {
  flex: 1;
}
@media (max-width: 557px) {
  .conciertos .concierto img {
    width: 100%;
  }
  .conciertos .proximo-evento__siguiente {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0;
  }
  .conciertos .proximo-evento__siguiente .boton_evento {
    margin-top: 10px; /* Agrega espacio entre el contenido y el botón */
    margin-left: 0; /* Restaura el margen izquierdo */
  }
}

.discografia {
  display: flex;
  flex-direction: column;
}
.discografia .discografia__detalle {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}
.discografia .discografia__detalle img {
  width: 400px;
  height: 400px;
  align-items: center;
}
.discografia .discografia__detalle ul {
  list-style: none;
}
@media (max-width: 1200px) {
  .discografia .discografia__detalle {
    flex-direction: column;
    text-align: center;
  }
  .discografia .discografia__detalle ul {
    text-align: left;
  }
}

/** Videos **/
.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.videos iframe {
  width: 550px;
  height: 600px;
}

/*# sourceMappingURL=styles.css.map */
