@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Nunito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
}

body{
    min-height: 100vh;
    position: relative;
}
/* css para todas las paginas */
.nav-bar{
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    flex-wrap:wrap ;
}
.nav-bar ul{
    padding: 10px;
    list-style: none;
    display: flex;  
    flex-wrap: wrap;
}

.nav-bar ul li{
    display: flex;
    padding: 5px 0px;
   
}

.nav-bar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.nav-bar ul li a:hover{
    font-size: 18px;
    text-shadow: 0px 10px 10px white;
}

.carrito{
    display:flex;
    margin-right: 10px;
    font-size: 24px;
    padding: 5px;
    margin-top: 5px;
}

.carrito i{
    color: white;
}
.carrito a i{
    font-size: 24px;
}

.carrito a{
    color: white;
    text-decoration: none;
    margin : 5px;
    font-size: 16px;
}

h1,h2,h3{
    font-family: 'New Rocker', cursive;
}
.logo img{
    width: 150px;
    margin: 10px;
    padding: 5px;
    object-fit: cover;
}

.header{
    margin-top: 120px;
}


.main{
    background-image: linear-gradient(rgb(109, 52, 114),rgb(45, 25, 49));
    padding: 20px;
}

.main section{
    padding-bottom: 15px;
}


.novedades{
    padding: 20px;
}
.novedades h1,h2,h3 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 34px;
    font-style: italic;
    font-family: 'New Rocker', cursive;
}

.novedades p{
    margin: 20px;
    padding: 10px;
}


.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h2{
    text-shadow: 0px 1px 5px #FFFFFF;
}

.tarjeta-container{
    display: flex;
    align-items: center;
}

.tarjeta {
    width: 210px;
    height: 210px;
    margin: 20px;
    position: relative;
    overflow: hidden; 
    transition: width 0.5s, height 0.5s;
  }
  
  .tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 5px black;
    border-radius: 10px;
    transition: transform 0.5s;
  }
  
  .tarjeta:hover img {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
 }
  

.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.link-page{
    justify-content:  left;
    color : white;
    padding-top: 20px;
    margin: 10px;

}

.link-page ul li a{
    text-decoration: none;
    color: white;
}

.link-page ul li a:hover{
    text-shadow: 0px 10px 10px white;
}

.auspiciadores-equipo{
    padding-top: 20px;
    margin: 10px;
}

.auspiciadores-equipo h4, ul li, ul li a{
    color: white;
    text-decoration: none;
}

.auspiciadores-equipo ul li a:hover{
    text-shadow: 0px 10px 10px white;
}


.social-media{
    padding-top: 20px;
    margin: 10px;
}
.social-media h4{
    color: white;
}
.social-media a, i {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.social-media i:hover{
    font-size: 40px;
}

.copyright{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.212);
}
.copyright p{
    color: white;
}