/* Footer */

.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    .link-page{
        justify-content:  left;
        color : rgb(255, 255, 255);
        padding-top: 20px;
        margin: 10px;
        ul {
            list-style: none;
            li a{
            text-decoration: none;
            color: white;
            &:hover{
                text-shadow: 0px 10px 10px white;
            }
            } 
        }
    
    }
    .auspiciadores-equipo {
        padding-top: 20px;
        margin: 10px;
        h3 {
            color: white;
            text-decoration: none;
        }
        ul {
            list-style: none;
            li, a {
                color: white;
                text-decoration: none;
            }
            li {
                a:hover {
                    text-shadow: 0px 10px 10px white;
                }
            }
        }
    }
    .social-media{
        padding-top: 20px;
        margin: 10px;
        h4{
            color: white;
        }
        a, i {
            font-size: 30px;
            color: white;
            text-decoration: none;
        }
        i:hover{
            font-size: 40px;
        }
    }
    
    .copyright{
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.212);
        p{
            color: white;
            margin-bottom: 0px;
        }
    }
}





