
/* CSS Responsive */

@media(min-width: 1201px) and (max-width: 1800px){
    .main {
        .contenido{
            margin: 0px 2vw; 
        }
    }
    .novedades p{
        padding: 0px 8vw;
    }

}
@media(max-width: 1200px) {
    .main {
        .contenido{
            margin: 0px 4vw;
        }
    }

    .nav-bar .fa-bars {
        display: block;
        margin: 10px;
        font-size: 30px;
        color: white;
        order: -1;
    }

    .nav-bar .fa-bars:hover + ul {
        left: 0;
    }

    .nav-bar ul {
        position: fixed;
        top: 0px;
        left: -300px;
        width: 250px;
        height: 100vh;
        background-color: rgb(5, 5, 5);
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        transition: 0.5s;
    }
    .nav-bar ul:hover{
        left: 0;
    }
    .nav-bar ul li a{
        color: rgba(255, 255, 255, 0.836);

    }
    .carrito {
        display: none;
    }

    .header{
        margin-top: 122px;
    }
    .tarjeta-container {
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .tarjeta {
        width: calc(50% - 40px);
        margin: 10px;
    }

    .img-resaltada:hover img {
        width: 350px;
        height: 400px;
     }

     .producto h5{
        font-size: 16px;
     }
     .producto p{
        font-size: 14px;
    }
    .novedades{
        margin: 0px;
    }
    .novedades p{
        height: 200px;
        overflow: auto;
        margin: 0px;
        padding: 20px;
    }
    .slider{
        p {
            display: none;
        }
        h1,h5 {
            font-size: 30px;
        }
    }

}
@media(max-width: 768px){
    
    .producto .tarjeta{
        flex: 0 0 calc(50% - 30px);
    }

    .producto p{
        display: none;
    }

    .tienda {
        margin:20px;
    }
    .tienda .tarjetas{
        margin: 20px 0px;
    }
    

}

@media(max-width: 557px){
    
    .ocultar-botones .ocultar{
        display: none;
    }

    .producto{
        gap: 5px;
    }
    .producto p{
        display: none;
    }
    .producto .tarjeta{
        margin: 5px;
        padding: 5px;
    }
    .tarjeta-container{
        justify-content: center;
    }

    .tienda, .galeria{
        margin:20px 0px;;
    }
    
    .tarjetas{
        margin: 20px 0px;
    }

    .salto_linea{
        display:block;
    }

}

@media (max-width: 915px) and (orientation: landscape) {
   
    .nav-bar {
        height: 90px;
    }

    .nav-bar .fa-bars{
        position: relative; 
        top: -15px; 
     }
   
    .nav-bar ul{
        padding-top: 20px;
    }

    .nav-bar ul li{
        height: 40px;
        align-items: center;
    }
    
    .header{
        margin-top: 90px;
    }
    .novedades p{
        height: 150px;
        overflow: auto;
    }

    .logo img{
        margin: 0px;
    }

}