
$breakpoint-medium-large: 1800px;
$breakpoint-medium: 1200px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 557px;
$breakpoint-landscape: 915px;

$fuente-principal: 'New Rocker', cursive;
$borde: 5px solid black;

$bg: #46184d;
$color : white;
$bg-hover: #590261;