/** Videos **/

.videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    iframe{
        width: 550px;
        height: 600px;
    }

    @media(max-width: $breakpoint-small){
        
            iframe{
               height: 250px;
            }
    }
}